SECRET_KEY=django-insecure-05uakfep378&*m5-$aaxikdqq9_(^)+q3&mq$0u+j)(_1zg#i$
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,hyuga.uz,www.hyuga.uz
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:8001,http://127.0.0.1:8001
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://localhost:8001
